checkaudiocustomlabel/system.yaml
checkaudiocustomlabel/pids.properties

irisdump/system.yaml
irisdump/pids.properties

checkapprovedinstypes/system.yaml
checkapprovedinstypes/pids.properties

checkdcidentifier/system.yaml
checkdcidentifier/pids.properties

updatenotes/system.yaml
updatenotes/pids.properties

iris_batch_uploader/system.yaml
.idea

addnotknownattr/system.yaml

updatedctitle/system.yaml
updatedctitle/pids.properties

iris_statistics_check/system.yaml
iris_statistics_check/pids.properties

iris_reports/system.yaml
iris_reports/pids.properties